@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: PTSans;
  src: url('../../public/fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: Cubano;
  src: url('../../public/fonts/Cubano.ttf');
}

@font-face {
  font-family: Wotfard;
  src: url('../../public/fonts/wotfard-regular-webfont.woff2');
}
@font-face {
  font-family: WotfardMD;
  src: url('../../public/fonts/wotfard-medium-webfont.woff2');
}
@font-face {
  font-family: WotfardSB;
  src: url('../../public/fonts/wotfard-semibold-webfont.woff2');
}

@layer components{
  
}

.fixgradient{
  background-size: auto 1.9ch;
}

.scrollbar-dropdown::-webkit-scrollbar {
  height:2px;
  background-color: transparent;
}

.scrollbar-dropdown::-webkit-scrollbar-thumb {
  background-color: rgb(102, 98, 98);
  border-radius: 8px;
  width: 4px;
  border: 4px solid rgb(255, 255, 255);
}

.scrollbar-dropdown::-webkit-scrollbar-truck{
  background-color: black;
  border-radius: 4px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

